/********************
GENERAL
********************/

body {
    margin: 0;
    background-color: #D8D8D8;
}



/********************
HEADER
********************/

header {
    background-color: #3ADF00;
    padding-top: 5px;
}

header a {
    text-decoration: none;
}

#logo {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

#logo h1 {
    font-weight: 900;
    margin-bottom: 0;
}

#logo h2 {
    font-weight: 400;
    font-size: 0.75em;
    margin: 0;
    padding-left: 150px;
    font-style: italic;
}



/********************
NAVIGATION
********************/

nav {
    background-color: #04B404;
    text-align: center;
    height: 2em;
    margin-top: 5px;
}

nav li {
    float: left;
    height: 2em;
    /*margin: 0 2%;*/
}

nav li:hover {
    color: orange;
}

nav ul {
    list-style: none;
    display: inline;
    background-color: red;
    margin: 0;
    padding: 0;
    height: 2em;
    line-height: 2em;
}

nav ul#login {
    float: right;
    text-align: right;
    width: 25%;
}

nav ul#menu {
    float: left;
    text-align: left;
    width: 25%;
}

nav #search {
    display: inline-block;
    height: 2em;
    border: none;
    text-align: center;
}
